<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- デフォルト設定読み込み -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="setup" value="setup"/>
    <property name="jvLink" value="jvLink"/>
    <property name="umaApp" value="uma-feed-app"/>

    <!-- ローカル用設定 -->
    <springProfile name="dev">
        <property name="logFilePath" value="./log/"/>
    </springProfile>

    <!-- production用設定 -->
    <springProfile name="prd">
        <property name="logFilePath" value="./log/"/>
    </springProfile>

    <!-- setup用設定 -->
    <springProfile name="setup">
        <property name="logFilePath" value="./log/"/>
    </springProfile>


    <!-- コンソール出力 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- セットアップ ログファイル書き出し -->
    <appender name="APPLICATION_LOG_SETUP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilePath}${setup}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFilePath}${setup}-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- JvLink Client ログファイル書き出し -->
    <appender name="APPLICATION_LOG_JVLINK" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilePath}${jvLink}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFilePath}${jvLink}-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ログファイル書き出し -->
    <appender name="APPLICATION_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilePath}${umaApp}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFilePath}${umaApp}-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- セットアップ ロガー -->
    <logger name="org.uma.jvLink.server.component.JvSetupReactiveCommandLineRunner"
            level="info" additivity="false">
        <appender-ref ref="APPLICATION_LOG_SETUP"/>
    </logger>

    <!-- JvLink Client ロガー -->
    <logger name="org.uma.jvLink.core.JvLinkWrapper"
            level="debug" additivity="false">
        <appender-ref ref="APPLICATION_LOG_JVLINK"/>
    </logger>


    <!-- jacob ロガー -->
    <logger name="com.jacob.com.JacobObject" level="debug">
        <appender-ref ref="APPLICATION_LOG"/>
    </logger>


    <!-- root ロガー -->
    <root level="INFO">
        <appender-ref ref="APPLICATION_LOG"/>
    </root>

</configuration>