<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- デフォルト設定読み込み -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- batch用設定 -->
    <springProfile name="batch">
        <property name="logFilePath" value="./log/batch/"/>
    </springProfile>

    <!-- batchWeekly用設定 -->
    <springProfile name="batchWeekly">
        <property name="logFilePath" value="./log/batchWeekly/"/>
    </springProfile>

    <!-- stream用設定 -->
    <springProfile name="stream">
        <property name="logFilePath" value="./log/stream/"/>
    </springProfile>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- stdout ログファイル書き出し -->
    <appender name="APPLICATION_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilePath}stdout.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFilePath}${stdout}-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- root ロガー -->
    <root level="INFO">
        <appender-ref ref="APPLICATION_LOG"/>
    </root>

</configuration>